<h1>ベスト5</h1>

 <% @seets.each.with_index(1) do |seet, idx| %>
 
  <div><%= idx %></div>
  
  <span><%= seet.shop_name %></span>
  
  <%= attachment_image_tag seet, :image, :fill, 50, 50, format: 'jpeg' %>
  
  <span><%= seet.caption %></span>
  
  <span><%= Rinku.auto_link(seet, :all, 'target="_blank"').html_safe %></span>
  
  <% end %>