<div class="container">
 <div class="row">
   <div class="w-50 mx-auto">
<h1 clas="mt-5">ベスト5</h1>

 <% @seets.each.with_index(1) do |seet, idx| %>

  <div><%= idx %></div>

  <div><%= seet.shop_name %></div>
 <%= link_to seet_path(seet.id) do %>
  <div><%= attachment_image_tag seet, :image, format: 'jpeg', size: "400x400" %></div>
 <% end %>
  <div><%= seet.caption %></div>

  <div class="mb-5"><%= raw Rinku.auto_link(h(seet.rinku)) %></div>

    <% end %>
    </div>
   </div>
  </div>