<h1>新規投稿</h1>

 <%= form_with model: @seet, local:true do |f| %>
  
  <h4>店の名前</h4>
  <%= f.text_field :shop_name %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>紹介文</h4>
  <%= f.text.area :caption %>
  <h4>リンク</h4>
  <%= f.string_field :rinku %>
  
  <%= f.submit '投稿' %>
  
  <% end 